body {
  background-color: lightblue;
  margin: 0 auto;
  width: 80%;
}

header {
  background-color: white;
  border: 2px solid black;
  padding: 9px;
  width: 95%;
}

section {
  background-color: white; 
  padding: 9px;
  border: 2px solid black;
  margin-top: 10px;
}

.column-1 {
  float: left;
  width: 35%;
}

.column-2 {
  float: right;
  width: 55%;
}

footer {
  clear: both;
  text-align: center;
}
